body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding: 20px;
    display: flex;
    text-align: center;


}

h2, h3 {
    color: #dcdcaa; /* Цвет для заголовков */
    text-align: center;
}

.code-container {
    position: relative;
    background-color: #2d2d2d;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer; /* Показываем, что код можно кликнуть */
    display: flex;
}

.code-container:hover {
    background-color: #3c3c3c; /* Слегка изменяем фон при наведении */
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #9cdcfe;
    font-size: 18px;
    cursor: pointer;
    display: none; /* Скрываем кнопку по умолчанию */
}

.code-container:hover .copy-button {
    display: block; /* Показываем кнопку при наведении на блок кода */
}

.copy-button:focus,
.copy-button:hover {
    color: #fff; /* Меняем цвет кнопки при фокусе или наведении */
}

.code-container code {
    white-space: pre-wrap; /* Сохраняем переносы строк */
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.code-container.tooltip-visible .tooltip {
    opacity: 1;
}
