/* Общие стили для страницы */
body {
    font-family: Andale Mono, monospace;
    background-color: #07111d;
    color: #ae2c11;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right,#000,#121212);
    text-align: center;
}

::selection {
  background-color: #21323d;
  color: #db9941;
} 

.fullheight { height: 100vh; } 

.chat-container {
    width: 80%;
    max-width: 1000px;
    border: 1px solid #21323d;
    border-radius: 15px;
    background-color: #07111d;
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    height: 80vh;
}

/* Стили для сообщений чата */
.chat-message {
    box-sizing: content-box;
    width: 100%;
    margin-bottom: 15px;
}

.chat-message p {
    font-weight: bold;
    margin: 0;
    color: #ae2c11;
}

.chat-message.bot {
    background-color: #323232;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.chat-message.bot::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #333;
    border-bottom: 15px solid transparent;
    transform: translateY(-50%);
}

/* Стили для кода */
pre {
    background-color: #07111d;
    border: 1px solid #21323d;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 0;
    text-align: justify;
}

code {
    font-family: monospace;
    color: #ae2c11;
    text-align: justify;
}

/* Стили для комментариев */
.comment {
    font-weight: bold;
    color: #db9941;
    text-align: justify;
}
